
<div class="panel panel-default">
	  <div class="panel-body">
	    <div class="row">
	      <div class="col-md-4">
	        <%= image_tag url_for(@movie.image) %>
	        <div class="table-responsive">
	          <table class="table">
	            <tbody>
	              <tr>
	                <td><strong>Title:</strong></td>
	                <td><%= @movie.title %></td>
	              </tr>
	              <tr>
	                <td><strong>Description:</strong></td>
	                <td><%= @movie.description %></td>
	              </tr>
	              <tr>
	                <td><strong>Movie length:</strong></td>
	                <td><%= @movie.movie_length %></td>
	              </tr>
	              <tr>
	                <td><strong>Director:</strong></td>
	                <td><%= @movie.director %></td>
	              </tr>
	              <tr>
	                <td><strong>MPAA Rating:</strong></td>
	                <td><%= @movie.rating %></td>
	              </tr>
	            </tbody>
	          </table>
	          <h3><%= link_to "Write a Review", new_movie_review_path(@movie), class: "btn btn-primary" %></h3>
            <h3><%= link_to 'Edit Movie', edit_movie_path(@movie), class: "btn btn-primary" %> |
            <%= link_to 'Back To All Movies', movies_path, class: "btn btn-primary" %><br><br><%= link_to "Delete Movie", @movie, :method => :delete, class: "btn btn-primary"%></h3>

	        </div>
	      </div>
	      <div class="col-md-7 col-md-offset-1">
	        <h1 class="review_title"><%= @movie.title %></h1>

	        <% if @reviews.blank? %>
	          <h3>No reviews 😯 Add one!</h3>
	          <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>

          <% else  %>
	          <% @reviews.each do |review| %>
	            <div class="reviews">
	              <p>Rating: <%= review.rating%></p>
	              <p>Review: <%= review.comment %></p>
                 <% if !!current_user && current_user.id == review.user_id   %>
                  <%= link_to "Delete Review", "/movies/#{@movie.id}/reviews/#{review.id}", :method => :delete  %>
                  <% end %>
	                <% end %>
            <% end %>
          </div>



	      </div>
	    </div>
	  </div>
	</div>
